<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_mode1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,302},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>button_mode1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>button_mode2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,152},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>button_mode2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>button_mode3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>button_mode3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button_mode.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87df1cd58cc8c937dae1ad25029a5cf5$</string>
            <key>textureFileName</key>
            <string>button_mode.png</string>
        </dict>
    </dict>
</plist>
