<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,361},{383,777}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{383,777}}</string>
                <key>sourceSize</key>
                <string>{383,779}</string>
            </dict>
            <key>left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,2},{379,771}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{379,771}}</string>
                <key>sourceSize</key>
                <string>{379,775}</string>
            </dict>
            <key>left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,775},{367,771}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,771}}</string>
                <key>sourceSize</key>
                <string>{367,771}</string>
            </dict>
            <key>right_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,775},{383,777}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{383,777}}</string>
                <key>sourceSize</key>
                <string>{383,779}</string>
            </dict>
            <key>right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,746},{379,771}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{379,771}}</string>
                <key>sourceSize</key>
                <string>{379,775}</string>
            </dict>
            <key>right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{367,771}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,771}}</string>
                <key>sourceSize</key>
                <string>{367,771}</string>
            </dict>
            <key>slide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{358,783}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,783}}</string>
                <key>sourceSize</key>
                <string>{358,783}</string>
            </dict>
            <key>slide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,783}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,783}}</string>
                <key>sourceSize</key>
                <string>{358,783}</string>
            </dict>
            <key>slide_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,775},{357,781}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,781}}</string>
                <key>sourceSize</key>
                <string>{357,781}</string>
            </dict>
            <key>slide_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{357,781}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,781}}</string>
                <key>sourceSize</key>
                <string>{357,781}</string>
            </dict>
            <key>up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1572},{457,732}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,732}}</string>
                <key>sourceSize</key>
                <string>{457,732}</string>
            </dict>
            <key>up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1554},{453,730}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,730}}</string>
                <key>sourceSize</key>
                <string>{453,730}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rolemove.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1f6b738139673aa9c00123ea76cf409:1/1$</string>
            <key>textureFileName</key>
            <string>rolemove.png</string>
        </dict>
    </dict>
</plist>
