<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,402},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>fenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,238},{162,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,80}}</string>
                <key>sourceSize</key>
                <string>{162,80}</string>
            </dict>
            <key>juli.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,238},{159,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,81}}</string>
                <key>sourceSize</key>
                <string>{159,81}</string>
            </dict>
            <key>mi.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,399},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>paodiaoyingxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,129}}</string>
                <key>sourceSize</key>
                <string>{476,129}</string>
            </dict>
            <key>xuanzeyinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,133},{408,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,103}}</string>
                <key>sourceSize</key>
                <string>{408,103}</string>
            </dict>
            <key>youxijieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{313,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,85}}</string>
                <key>sourceSize</key>
                <string>{313,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hanzi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15ccf71916172fd64530c8e67bab86f0$</string>
            <key>textureFileName</key>
            <string>hanzi.png</string>
        </dict>
    </dict>
</plist>
